@import 'src/variables';

.post-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: @color-black-100;
  position: relative;
  overflow: hidden;
  color: @color-white-100;

  // .colorful-bg {
  //   width: 30%;
  //   height: 120%;
  //   border-radius: 100% 80px ~'/' 80px 100%;
  //   background-color: rgba(236, 96, 25, 0.5);
  //   position: absolute;
  //   top: -5%;
  //   right: 30%;

  //   border-radius: 100% 80px ~'/' 90% 100%;

  //   background: linear-gradient(135deg, rgba(255, 144, 149, 0.5) 40%, rgba(248, 255, 67, 0.5) 100%);
  //   // -webkit-box-shadow: 30px 10px 10px rgba(252, 255, 165, 0.1);
  //   box-shadow: 30px 20px 20px rgba(252, 255, 165, 0.5);
  //   // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255, 144, 149, 0.5)', endColorstr='rgba(248, 255, 67, 0.5)', GradientType=1);
  //   transition: all 0.5s;
  // }

  .container {
    position: relative;
  }
}

.post-title:hover {
  .colorful-bg {
    border-radius: 60% 80% ~'/' 100% 80%;
    transition: all 0.5s;
  }
}

.meta-info span {
  margin-right: 0.75rem;
  padding-left: 0.375rem;
  border-left: solid 3px @color-white-100;
  color: @color-white-100;
}

.description {
  text-align: justify;
  text-indent: 1rem;
  color: @color-white-070;
}
