@import 'src/variables';

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.nav-link {
  border-bottom: solid 5px @color-black-000;
  transition: all 0.3s;

  &:hover {
    border-bottom: solid 5px @color-black-050;
    transition: all 0.3s;
  }

  &.active {
    border-bottom: solid 5px @color-black-100;
    transition: all 0.3s;
  }
}
