<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="cst.ROUTER_ROOT_URL">
        <app-logo></app-logo>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" [routerLink]="cst.ROUTER_BLOG_LIST_URL" routerLinkActive="active">
            {{'nav.blog' | translate}}
          </a>
          <!-- a class="nav-item nav-link ml-1" routerLinkActive="active">
            {{'nav.tools' | translate}}
          </a -->
        </div>
      </div>
    </nav>
  </div>
</header>
